@import "config";
@import "margin";
@import "card";
@import "shadow";
@import "input";
@import "button";
@import "typography";
@import "list";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0 auto;
  // max-width: 750px;
  background: $white;
  color: $textDark;
  padding: 2rem;
  border-radius: 6px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 1.03rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  overflow-wrap: break-word;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

.dark {
  background-color: $dark;
}
