@import "config";
$cardDark: #2c2c2c;

.card {
  border: 1px solid $grey;
  padding: $baseUnit $doubleUnit;
  color: $textDark;
  background-color: $white;
  margin: $baseUnit;
  border-radius: $commonBorderRadius;

  .body {
    padding: $doubleUnit;
  }
}

.dark {
  .card {
    background-color: $cardDark;
    border: 1px solid $dark;
    border-radius: $commonBorderRadius;

    a {
      color: $lightblue;
    }
  }
}
