// define colors
$textDark: #000;
$textLight: #fff;

$white: #fff;
$black: #000;
$dark: #303030;
$pink: #eb4b98;
$deepblue: #003f91;
$lightblue: #61a5c2;
$green: #00916e;
$orange: #faa916;
$red: #c71f37;
$deepred: #85182a;
$grey: #e2e2e2;

$primaryColor: $deepblue;
$secondaryColor: $lightblue;
$accentColor: $pink;

$dirtyWhite: #ececec;

// define common spaces
$halfUnit: 0.1rem;
$baseUnit: 0.25rem;
$doubleUnit: 0.5rem;