// define colors
$textDark: rgb(0, 0, 0);
$textLight: rgb(235, 235, 235);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark: #1f1f1f;
$pink: #eb4b98;
$deepblue: #003f91;
$lightblue: #2d90bb;
$green: #00916e;
$orange: #faa916;
$red: #c71f37;
$deepred: #85182a;
$grey: #e2e2e2;
$violet: #ad5cff;

$fade: .2;
$solid: 1;


$primaryColor: $deepblue;
$secondaryColor: $lightblue;
$accentColor: $pink;

$dirtyWhite: #ececec;

// define common spaces
$halfUnit: 0.1rem;
$baseUnit: 0.25rem;
$doubleUnit: 0.5rem;
$commonBorderRadius: .2rem;
$commonBorderRadiusFull: 5rem;