@import "config";

.shadow {
    box-shadow: 0 0.35rem .75rem rgba($color: $black, $alpha: .15);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba($color: $black, $alpha: .075)
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba($color: $black, $alpha: .175)
}

.shadow-none {
    box-shadow: none;
}