@import "config";


.tag {
    padding: $halfUnit $baseUnit;
    border-radius: $commonBorderRadiusFull;
    margin: $halfUnit;
    font-size: 80%;
    color: $textDark;
}

.tag.success{
    border: 1px solid rgba($color: $green, $alpha: $solid);
    background-color: rgba($color: $green, $alpha: $fade);
    color: $green;
}
.tag.error{
    border: 1px solid rgba($color: $red, $alpha: $solid);
    background-color: rgba($color: $red, $alpha: $fade);
    color: $red;
}
.tag.warning{
    border: 1px solid rgba($color: $orange, $alpha: $solid);
    background-color: rgba($color: $orange, $alpha: $fade);
    color: $orange;
}
.tag.primary{
    border: 1px solid rgba($color: $primaryColor, $alpha: $solid);
    background-color: rgba($color: $primaryColor, $alpha: $fade);
    color: $primaryColor;
}
.tag.dark{
    border: 1px solid rgba($color: $dark, $alpha: $solid);
    background-color: rgba($color: $dark, $alpha: $fade);
    color: $textDark;
}