@import "config";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
code,
label {
  margin: $doubleUnit $baseUnit;
  color: $textDark;
}
a {
  color: $deepblue;
  text-decoration: none;
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  code,
  label {
    color: $textLight;
  }

  a {
    color: $lightblue;
  }
}
