@import "config";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
code,
label {
  margin: $doubleUnit $baseUnit;
  color: $textDark;
}
a {
  color: $deepblue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p,
label {
  font-weight: 300;
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  label {
    color: $textLight;
  }

  a {
    color: $lightblue;
  }
}

.text-center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
